
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div>
    <a asp-controller="book" asp-action="allbooks">Back to All Books</a>
    <br />
    <a asp-controller="home" asp-action="index">PickABook.com Home</a>
</div>
