
@{
    ViewData["Title"] = "Contact Us";
}

<h1>Contact Us</h1>

<p>If you have any questions about our privacy practices or this Privacy Policy, please contact us at:
<pre>    
    ABC Products
    27 W Abc St #355
    Santa Manta, CA 90210

    info@ABCProducts.com
</pre>
</p>